<!DOCTYPE html>

<head> <title> All Blogs </title> </head>

    <body>
        
        
        {% for blog in blogs %}

        <li>

           <h3>{{ blog.title }}</h3> 

           {{ blog.content }} <a href="/1"> read more </a>

           <h4> {{ blog.date }}</h4>

           <h5> {{blog.admin}} </h5>

        </li>

        {% endfor %}



        <!-- <li>
            <h3> First Blog</h3> 
            this blog is about .... <a href="/1"> read more </a>
        </li>
        <li>
            <h3> Second Blog</h3>
            this blog is about .... <a href="/2">read more</a>
        </li>

        <li>
            <h3> Third Blog</h3>
            this blog is about .... <a href="/3"> read more</a>
        </li> -->

    </body>

</html>